################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/packages
/Source/SquareApiConsumer/bin/Debug
/Source/SquareApiConsumer/obj
*.suo
